<!DOCTYPE html>
<html>
<head>
	<title>Real Time Data with Websocket</title>
	<style type="text/css">
		.one-third{
			width: 30%;
			margin-right: 1.5%;
			display: inline-table;
		}
		.one-third.students{
			margin-right:0px;
		}
		.full-width{
			width:100%;
		}
		.users>li,.employees>li,.students>li{
			border: 1px solid #238bd5;
		    padding: 5px;
		    list-style: none;
			margin-bottom: 5px;
		}
		.heading{
			list-style: none;
			font-weight: bolder;
			text-align: center;
			border: 0px !important;
			border-bottom: 1px solid #444 !important; 

		}

	</style>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io.connect();
	  $(function () {
	    
	    var userHeading= $('ul.users>li.heading');
	    var employeeHeading= $('ul.employees>li.heading');
	    var studentHeading= $('ul.students>li.heading');


	    socket.on('users', function (data) {
	    	// console.log(data);
	    	if(data){
		      userHeading
		        .after('<li><div class="name">Name : ' + data.name + '</div><div class="email">Email : ' + data.email + '</div><div class="address">Address : ' + data.address + '</div></li>');	    		
	    	}
	    });
	    socket.on('employees', function (data) {
	    	// console.log(data);
	    	if(data){
		      employeeHeading
		        .after('<li><div class="name">Name : ' + data.name + '</div><div class="salary">Salary : ' + data.salary + '</div><div class="currency">Currency :  ' + data.currency + '</div></li>');
	    	}
	    });
	    socket.on('students', function (data) {
	    	// console.log(data);
	    	if(data){
		      studentHeading
		        .after('<li><div class="name">Name : ' + data.name + '</div><div class="email">Email : ' + data.email + '</div><div class="course">Course : ' + data.course + '</div></li>');
	    	}
	    });

	  });
	</script>
</head>
<body>
<div class="full-width">
	
	<!-- <div class="one-third"> -->
		<ul class="users one-third">
			<li class="heading">Users</li>
			<% if(users) { %>
				<% for(var i=0; i< users.length;i++) { %>
				<li><div class="name">Name : <%= users[i].name %></div><div class="email">Email : <%= users[i].email %></div><div class="address">Address : <%= users[i].address %></div></li>
				<% } %>
			<% } %>
		</ul>
<!-- 	</div>	
	<div class="one-third">
 -->		<ul class="employees one-third">
			<li class="heading">Employees</li>
			<% if(employees) { %>
				<% for(var i=0; i< employees.length;i++) { %>
				<li><div class="name">Name : <%= employees[i].name %></div><div class="salary">Salary : <%= employees[i].salary %></div><div class="currency">Currency : <%= employees[i].currency %></li>
				<% } %>
			<% } %>
		</ul>		
<!-- 	</div>	
	<div class="one-third">
 -->		<ul class="students one-third">
			<li class="heading">Students</li>
			<% if(students) { %>
				<% for(var i=0; i< students.length;i++) { %>
				<li><div class="name">Name : <%= students[i].name %></div><div class="email">Email : <%= students[i].email %></div><div class="course">Course : <%= students[i].course %></div></li>
				<% } %>
			<% } %>
		</ul>
	<!-- </div>	 -->

</div>
</body>
</html>